.hr__exellence {
	background: url('../images/bg-img.png') repeat;

	&__container {
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;

		@media (min-width: 768px) {
			width: 750px;
		}

		@media (min-width: 992px) {
			width: 972px;
		}

		h2 {
			color: #1da3dd;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 28px;
			margin-top: 35px;
			margin-bottom: 20px;
			text-align: center;
		}

		p {
			color: #333;
			padding: 0 10px;
			font-size: 16px;
		}
	}

	&__desc {
		text-align: center;
		background: url("../images/people-1.png") no-repeat 2% 55%, url("../images/people-2.png") no-repeat  98% 55%;
		padding: 20px 80px;
		
		@include MQM(SM) {
			background: none;
			padding: 0;
		}
	}

	&__banner {
		width: 100%;
	}

	&__jury {
		margin: 0 auto;
		padding-bottom: 30px
	}

	&__attend {
		padding: 1px 0 25px;
		background-color: #de5a28;
		color: #fff;
		background-image: url("../images/orange-top.svg");
    	background-repeat: no-repeat;

    	@include MQM(XS) {
    		background-image: none;
    	}

		h2 {
			color: #fff;
			margin-top: 15px;
		}

		.form-control {
			border: 2px solid #e3e4e8;
		}
	}
}

.hr__btn {
	text-align: center;
    color: #fff;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 100%;

    &--blue {
    	background-color: #1da3dd;
    	box-shadow: 0px 3px 0px #216398;
    }
}