@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src : url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
    	url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
    	url('../fonts/pfdintextcondpro-regular-webfont.svg#pfdintextcondpro-regular-webfont') format ('svg'),
    	url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format ('embedded-opentype');
    	font-weight: normal;
    	font-style: normal;
 }
