// $opensans: 'Open Sans', sans-serif;
$opensanscond: 'PFDinTextCondPro-Regular', sans-serif;
// $opensans: 'PFDinTextCondPro', sans-serif;
$opensans: 'PFDinTextCondPro-Regular', sans-serif;
$pfdin: 'PFDinTextCondPro-Regular', sans-serif;
$pfdinbold: 'PFDinTextCondPro-Bold', sans-serif;

.container {
	@media (min-width: 1200px) {
		width: 1002px;
	}
}

.no-margins {
	margin: 0 !important;
}

.hr__text {
	&--orange {
		color: #ffa809;
	}
}

.mt-20 {
	margin-top: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-2 {
	margin-bottom: 2px;
}