// $opensans: 'Open Sans', sans-serif;
$opensanscond: 'PFDinTextCondPro-Regular', sans-serif;
// $opensans: 'PFDinTextCondPro', sans-serif;
$opensans: 'PFDinTextCondPro-Regular', sans-serif;

.container {
	@media (min-width: 1200px) {
		width: 1002px;
	}
}

.no-margins {
	margin: 0 !important;
}