.hr__footer {
	background: url('../images/footer-bg.png') repeat;
	padding: 10px 0 0;
	position: relative;

	&__address {
		text-align: right;
		font-family: $opensanscond;
		font-weight: bold;
		color: #fff;

		@include MQM(XS) {
			text-align: left;
			margin-top: 20px;
		}
	}
}