.hr__header, .hr__footer {
	background: url('../images/header-bg.png') repeat;
	padding: 10px 0 0;
	position: relative;

	&__brand {
		position: relative;
		display: block;

		@include MQM(XS) {
			img {
				width: 100%;
			}
		}
	}

	&-school {
		padding-bottom: 10px;
		position: relative;

		&__brand {
			width: 140px;
			display: block;

			@include MQM(SM) {
				margin-left: auto;
				margin-right: auto;
			}
			img {
				width: 100%;
			}
		}

		&--orange {
			color: #ffa809;
		}

		&--blue {
			color: #0c376a;
		}

		&__title {
			padding-top: 50px;
			text-align: center;
			font-family: $pfdinbold;

			@include MQM(SM) {
				padding-top: 20px;
			}
			.hr__header-school--orange {
				font-size: 49px;
				line-height: 1;
			}
			.hr__header-school--blue {
				font-size: 36px;
				line-height: 1;
			}
		}
	}

	&__address {
		text-align: right;
		font-family: $opensanscond;

		@include MQM(XS) {
			text-align: left;
		}
	}
	&__bywind {
		width: 170px;
	}
	&__tel {
		font-family: $pfdinbold;
		font-size: 18px;
		color: #0c376a;
		

		&:hover, &:active, &:focus {
			text-decoration: none;
			color: #0c376a;
		}
	}
}

.hr__social {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 5px;

	@include MQM(XS) {
		margin-bottom: 0;
		text-align: left;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		display: inline-block;
		margin-left: 15px;

		@include MQM(XS) {
			margin-left: 0px;
			margin-right: 10px;
		}
	}
}

.hr__header {
	.container {
		background: url('../images/header-people.png') no-repeat 60% 50%;
		
		@include MQM(XS) {
			background: none;
		}
	}

	&.hr__header-school {
		.container {
			background: none;
		}
	}
}